body {
  margin: 0;
  font-family: Arial;
  background: #0b0b15;
  color: white;
}

/* loader */
#loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loader.hide {
  display: none;
}

.loader-box {
  text-align: center;
}

.bar {
  height: 5px;
  background: #222;
  margin-top: 10px;
}

.bar span {
  display: block;
  height: 100%;
  background: purple;
  animation: load 1.5s forwards;
}

@keyframes load {
  from {width: 0;}
  to {width: 100%;}
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: #111;
}

nav button {
  background: none;
  border: none;
  color: gray;
  margin: 5px;
  cursor: pointer;
}

/* pages */
.page {
  display: none;
  padding: 40px;
}

.page.active {
  display: block;
}

/* cards */
.cards {
  display: flex;
  gap: 20px;
}

.card {
  background: #111;
  padding: 30px;
  border-radius: 10px;
  cursor: pointer;
}

/* grid */
.grid {
  display: flex;
  gap: 20px;
}

img {
  width: 50%;
}

.info {
  background: #111;
  padding: 20px;
}

/* tags */
.yes {
  color: lime;
}

.no {
  color: red;
}

/* button */
.btn {
  display: block;
  background: purple;
  padding: 10px;
  margin-top: 10px;
  text-align: center;
  color: white;
  text-decoration: none;
}
