header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: #111;
}

nav button {
  background: none;
  border: none;
  color: var(--muted);
  margin: 5px;
  cursor: pointer;
}
